{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row center">
        <div class="col-md-6 offset-md-3">


            <div id="labelug3" class="card">
                <div class="card-header">    Logged Out !  </div>
                <div class="card-body">
                    <p id="ug3" class="card-text">You are now logged out of velux tool. Please login again (at top right corner).</p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}